h1{

    color: brown; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: underline 1xp solid;
}
.subtitulo{ 
    color: blue;
}    

.diferente{
    color: red;
}

.subrayado{
    text-decoration:  underline brown;
}